html,body{
	font-family: 'Proxima Nova Rg';
	font-size: 13px;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}
ul{
	margin: 0;
	padding: 0;
}
main{
	width: 1290px;
	margin: 0 auto;
	background-color: transparent;
}
h1{
	font-size: 36px;
}
h4{
	font-size: 13px;
}